[MASTER]
ignore=venv

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903

[FORMAT]
max-line-length=100
indent-string='    '

[DESIGN]
max-args=5
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=10
max-public-methods=20

[REPORTS]
output-format=colorized
reports=no
